{% extends 'museum/base.html' %}

{% block content %}
    <div style="text-align: center;">
        <div>
            <br />
            あなたは
            <font style="background:#000000; color:#ffffff; font-weight: bold;">
                0000065
            </font>
            人目の訪問者です。
            <br />
            <br />
        </div>
        <div class="thumbnail" style="width:800px; padding-top:80%;">
            {% load static %}
            <img src="{% static 'crazy8.png' %}" style="height: auto;">
        </div>
        <div>
            <br />
            出口
            <br />
            <br />
            <br />
            メールはこちらから↓<br />
            65bunjitsu@gmail.com<br />
            <br />
            <br />
            <br />
            活動予定
        </div>
    </div>
{% endblock %}